binds {

    Mod+Slash { show-hotkey-overlay; }
    Mod+Space repeat=false { toggle-overview; }

    // Apps
    Mod+D { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+E { spawn "nautilus"; }
    Mod+B { spawn "librewolf"; }
    Mod+Return { spawn "foot"; }

    // Windows
    Mod+Q { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M { maximize-window-to-edges; }

    // Focus
    Mod+H { focus-column-or-monitor-left; }
    Mod+L { focus-column-or-monitor-right; }
    Mod+K { focus-window-up; }
    Mod+J { focus-window-down; }

    // Move Windows
    Mod+Ctrl+H { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+L { move-column-right-or-to-monitor-right; }
    // Mod+Ctrl+K { move-column-up; }
    // Mod+Ctrl+J { move-column-down; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Screenshots
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Mute mic
    Pause { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
}
