input {
    keyboard {
        xkb {
            // layout "us"
            // variant "colemak_dh_ortho"
            // options "compose:ralt,ctrl:nocaps"
            // model ""
            // rules ""
            // file "~/.config/keymap.xkb"
        }

        repeat-delay 600
        repeat-rate 25
        // track-layout "global"
        // numlock
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-factor 1.0
        // scroll-factor vertical=1.0 horizontal=-2.0
        // scroll-method "no-scroll"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulation
    }

    focus-follows-mouse max-scroll-amount="0%"

    // disable-power-key-handling
    // warp-mouse-to-focus
    // workspace-auto-back-and-forth
    // mod-key "Super"
    // mod-key-nested "Alt"

    touchpad { off; }
    trackpoint { off; }
    trackball { off; }
    tablet { off; }
    touch { off; }
}
