switch-events {
    // lid-close { spawn "notify-send" "The laptop lid is closed!"; }
    // lid-open { spawn "notify-send" "The laptop lid is open!"; }
    // tablet-mode-on { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled true"; }
    // tablet-mode-off { spawn "bash" "-c" "gsettings set org.gnome.desktop.a11y.applications screen-keyboard-enabled false"; }
}
