window-rule {
    open-maximized true
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
    match app-id="spotify"

    open-on-workspace "1"
    open-maximized false

    // opacity 0.80
}

window-rule {
    match app-id="discord"

    open-on-workspace "1"
    open-maximized false
}

window-rule {
    match app-id="dev.noctalia.Noctalia"

    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
}
