window-rule {
    open-maximized true
    geometry-corner-radius 10
    clip-to-geometry true
    opacity 0.90
}

window-rule {
    match app-id="spotify"
    open-on-output "DP-6"
    open-maximized false
}

window-rule {
    match app-id="discord"
    open-on-output "DP-6"
    open-maximized false
}
